<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">Heading 1</h1>
	<!-- /wp:heading -->

	<!-- wp:heading -->
	<h2 class="wp-block-heading" id="h-heading-2">Heading 2</h2>
	<!-- /wp:heading -->

	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading" id="h-heading-3">Heading 3</h3>
	<!-- /wp:heading -->

	<!-- wp:heading {"level":4} -->
	<h4 class="wp-block-heading" id="h-heading-4">Heading 4</h4>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Lorem ipsum <em>dolor sit amet</em>, <strong>consectetur</strong> adipiscing <a href="#">elit</a>. Sed tristique odio vel enim fringilla ullamcorper. Sed eu euismod sem. In et dapibus massa, sed eleifend lorem. Sed sed purus turpis. Nam id quam sed neque consequat aliquet eu at orci.</p>
	<!-- /wp:paragraph -->

	<!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column -->
	<div class="wp-block-column"><!-- wp:list -->
	<ul><!-- wp:list-item -->
	<li>List Item</li>
	<!-- /wp:list-item -->

	<!-- wp:list-item -->
	<li>List Item</li>
	<!-- /wp:list-item --></ul>
	<!-- /wp:list --></div>
	<!-- /wp:column -->

	<!-- wp:column -->
	<div class="wp-block-column"><!-- wp:list {"ordered":true} -->
	<ol><!-- wp:list-item -->
	<li>Ordered List Item</li>
	<!-- /wp:list-item -->

	<!-- wp:list-item -->
	<li>Ordered List Item</li>
	<!-- /wp:list-item --></ol>
	<!-- /wp:list --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->

	<!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column -->
	<div class="wp-block-column"><!-- wp:list {"className":"is-style-fancy"} -->
	<ul class="is-style-fancy"><!-- wp:list-item -->
	<li>Fancy List Item</li>
	<!-- /wp:list-item -->

	<!-- wp:list-item -->
	<li>Fancy List Item</li>
	<!-- /wp:list-item --></ul>
	<!-- /wp:list --></div>
	<!-- /wp:column -->

	<!-- wp:column -->
	<div class="wp-block-column"><!-- wp:list {"ordered":true,"className":"is-style-fancy"} -->
	<ol class="is-style-fancy"><!-- wp:list-item -->
	<li>Fancy Ordered List Item</li>
	<!-- /wp:list-item -->

	<!-- wp:list-item -->
	<li>Fancy Ordered List Item</li>
	<!-- /wp:list-item --></ol>
	<!-- /wp:list --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->

	<!-- wp:separator -->
	<hr class="wp-block-separator has-alpha-channel-opacity"/>
	<!-- /wp:separator -->

	<!-- wp:buttons -->
	<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary"} -->
	<div class="wp-block-button"><a class="wp-block-button__link has-primary-background-color has-background wp-element-button">Default</a></div>
	<!-- /wp:button -->

	<!-- wp:button {"className":"is-style-outline"} -->
	<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button">Outline</a></div>
	<!-- /wp:button -->

	<!-- wp:button {"className":"is-style-arrow"} -->
	<div class="wp-block-button is-style-arrow"><a class="wp-block-button__link wp-element-button">Arrow</a></div>
	<!-- /wp:button -->

	<!-- wp:button {"className":"is-style-link"} -->
	<div class="wp-block-button is-style-link"><a class="wp-block-button__link wp-element-button">Link</a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons -->

	<!-- wp:group {"backgroundColor":"primary","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-primary-background-color has-background"><!-- wp:heading -->
	<h2 class="wp-block-heading">Primary Color</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Lorem ipsum <em>dolor sit amet</em>, <strong>consectetur</strong> adipiscing <a href="#">elit</a>. Sed tristique odio vel enim fringilla ullamcorper. Sed eu euismod sem. In et dapibus massa, sed eleifend lorem. Sed sed purus turpis. Nam id quam sed neque consequat aliquet eu at orci.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group -->

	<!-- wp:group {"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-secondary-background-color has-background"><!-- wp:heading -->
	<h2 class="wp-block-heading">Secondary Color</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Lorem ipsum <em>dolor sit amet</em>, <strong>consectetur</strong> adipiscing <a href="#">elit</a>. Sed tristique odio vel enim fringilla ullamcorper. Sed eu euismod sem. In et dapibus massa, sed eleifend lorem. Sed sed purus turpis. Nam id quam sed neque consequat aliquet eu at orci.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group -->

	<!-- wp:group {"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-tertiary-background-color has-background"><!-- wp:heading -->
	<h2 class="wp-block-heading">Tertiary Color</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Lorem ipsum <em>dolor sit amet</em>, <strong>consectetur</strong> adipiscing <a href="#">elit</a>. Sed tristique odio vel enim fringilla ullamcorper. Sed eu euismod sem. In et dapibus massa, sed eleifend lorem. Sed sed purus turpis. Nam id quam sed neque consequat aliquet eu at orci.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group -->

	<!-- wp:group {"backgroundColor":"quaternary","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-quaternary-background-color has-background"><!-- wp:heading -->
	<h2 class="wp-block-heading">Quaternary Color</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Lorem ipsum <em>dolor sit amet</em>, <strong>consectetur</strong> adipiscing <a href="#">elit</a>. Sed tristique odio vel enim fringilla ullamcorper. Sed eu euismod sem. In et dapibus massa, sed eleifend lorem. Sed sed purus turpis. Nam id quam sed neque consequat aliquet eu at orci.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
